{% extends 'basic.html' %}
{% block head %}

    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid" style="animation: slide-in-right 2s ease-in-out;">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div class="categories__item categories__large__item set-bg" data-setbg="static/img/categories/category-1.jpg">
                    <div class="categories__text">
                        <h1>Women’s fashion</h1>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/category-2.jpg">
                            <div class="categories__text">
                                <h4>Men’s fashion</h4>
                             
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                               
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 p-0">
                        <div class="categories__item set-bg" data-setbg="static/img/categories/category-4.jpg">
                            <div class="categories__text">
                                <h4>Other</h4>
                              
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-aos="fade-up" data-aos-delay="500">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <h2 style="color: #12fb25; font-family: 'Cairo', Arial, sans-serif;">لو مش عاجباك؟</h2>
                            <br>
                            <h1 style="font-family: 'Cairo', Arial, sans-serif;">Badelha | بدلها</h1>
                            <button type="submit" class="site-btn">Register Now!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->


<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad" data-aos="slide-left" data-aos-delay="500">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item" data-aos="slide-right" data-aos-delay="100">
                    <i class="fa fa-car"></i>
                    <h6>لحد باب البيت؟</h6>
                    <p>تقدر تبدل أي تدبيسة وتوصلك لحد باب بيتك  </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item" data-aos="slide-right" data-aos-delay="400">
                    <i class="fa fa-money"></i>
                    <h6>اتدبست؟</h6>
                    <p>عادي تقدر تبيع أي حاجة اتدبست وترجع فلوسك تاني</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item" data-aos="slide-right" data-aos-delay="800">
                    <i class="fa fa-exchange"></i>
                    <h6>تبدلها؟</h6>
                    <p>تقدر تتفق مع حد وتبدلوا حاجاتكم وتجددوا دولابكم ببلاش!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item" data-aos="slide-right" data-aos-delay="400">
                    <i class="fa fa-recycle"></i>
                    <h6>مهتم بالاستدامة؟</h6>
                    <p>حافظ على البيئة وقلل استهلاكيتك بتبديل أو بيع الحاجات اللي مش محتاجها</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Services Section End -->

{% endblock %}
