{% extends 'basic.html' %}
{% block head %}


    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{{ url_for('index') }}"><i class="fa fa-home"></i> Home</a>
                        <span>Sell Item</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link">  <i class="fa fa-exchange"></i> Bye Bye Tadbeesa </h6>
                </div>
            </div>
            <form action="#" class="checkout__form">
                <div class="row">
                    <div>
                        <h5>Product Details</h5>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Title<span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Type <span>*</span></p>
                                    <label>
                                        <input type="radio" name="type" value="Women">Women
                                    </label>
                                    <label>
                                        <input type="radio" name="type" value="Men"> Men
                                    </label>
                                    <label>
                                        <input type="radio" name="type" value="Kids"> Kids
                                    </label>
                                    <label>
                                        <input type="radio" name="type" value="Other"> Other
                                    </label>
                                </div>
                            </div>
                         
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Description <span>*</span></p>
                                    <input type="text"
                                    placeholder="Include condition, features and reason for selling">
                                </div>
                                <div class="checkout__form__input">
                                    <p>Location <span>*</span></p>
                                    <select name="location" id="locationSelect">
                                        <option value="">Select Governorate</option>
                                        <option value="Alexandria">Alexandria</option>
                                        <option value="Aswan">Aswan</option>
                                        <option value="Asyut">Asyut</option>
                                        <option value="Beheira">Beheira</option>
                                        <option value="Beni Suef">Beni Suef</option>
                                        <option value="Cairo">Cairo</option>
                                        <option value="Dakahlia">Dakahlia</option>
                                        <option value="Damietta">Damietta</option>
                                        <option value="Faiyum">Faiyum</option>
                                        <option value="Gharbia">Gharbia</option>
                                        <option value="Giza">Giza</option>
                                        <option value="Ismailia">Ismailia</option>
                                        <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                                        <option value="Luxor">Luxor</option>
                                        <option value="Matruh">Matruh</option>
                                        <option value="Minya">Minya</option>
                                        <option value="Monufia">Monufia</option>
                                        <option value="New Valley">New Valley</option>
                                        <option value="North Sinai">North Sinai</option>
                                        <option value="Port Said">Port Said</option>
                                        <option value="Qalyubia">Qalyubia</option>
                                        <option value="Qena">Qena</option>
                                        <option value="Red Sea">Red Sea</option>
                                        <option value="Sharqia">Sharqia</option>
                                        <option value="Sohag">Sohag</option>
                                        <option value="South Sinai">South Sinai</option>
                                        <option value="Suez">Suez</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="checkout__form__input" id="priceOptions">
                                            <p>Price is <span>*</span></p>
                                            <label>
                                                <input type="radio" name="priceType" value="neg">Negotiable
                                            </label>
                                            <label>
                                                <input type="radio" name="priceType" value="ex"> Exchange
                                            </label>
                                            <label>
                                                <input type="radio" name="priceType" value="free"> Free
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="checkout__form__input">
                                            <p>Price<span>*</span></p>
                                            <input type="number" id="priceInput" name="priceInput">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="checkout__form__input">
                                        <p>item status <span>*</span></p>
                                        <label>
                                            <input type="radio" name="itemStatus" value="New">new
                                        </label>
                                        <label>
                                            <input type="radio" name="itemStatus" value="Used"> used
                                        </label>
                                    </div>
                                </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Phone <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span>*</span></p>
                                    <input type="text">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p> Add up to 10 images <span>*</span></p>
                                    <div class="upload-icons">
                                        {% for i in range(10) %}
                                            <label for="imageUpload{{ i }}" class="upload-label">
                                                <i id="uploadIcon{{ i }}" class="fa fa-camera upload-icon" style="font-size: 36px;"></i>
                                                <input type="file" id="imageUpload{{ i }}" name="imageUpload{{ i }}" accept="image/*" style="display: none;">
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                       
                        </div>

                            </div>
                       
                       
                               <button type="submit" class="site-btn">Place oder</button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </section>
      
        
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const priceInput = document.getElementById('priceInput');
        const priceOptions = document.getElementById('priceOptions');
        
       
        function handlePriceOptionChange(event) {
            if (event.target.value === 'free') {
                priceInput.style.display = 'none'; 
            } else {
                priceInput.style.display = 'block'; 
            }
        }
        
        
        priceOptions.addEventListener('change', handlePriceOptionChange);
    });
// Define the function to handle file uploads
function handleFileUpload(event, index) {
    const uploadIcon = document.getElementById('uploadIcon' + index);
    const file = event.target.files[0];
    if (file) {
        const reader = new FileReader();
        reader.onload = function() {
            uploadIcon.style.backgroundImage = 'url(' + reader.result + ')';
            uploadIcon.style.backgroundSize = 'cover'; 
            uploadIcon.classList.remove('fa-camera');
            uploadIcon.style.fontSize = 'initial'; 
        }
        reader.readAsDataURL(file);
    }
}

// Loop through each input element with id starting with 'imageUpload'
for (let i = 0; i < 10; i++) {
    const input = document.getElementById('imageUpload' + i);
    
    // Check if the input element exists
    if (input) {
        input.addEventListener('change', function(event) {
            handleFileUpload(event, i);
        });
    }
}

    
    
</script>
 {% endblock %}


