{% extends 'basic.html' %}
{% block head %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% for message in messages %}
            <div class="alert alert-success" role="alert">
              {{ message }}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endwith %}
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{{ url_for('index') }}"><i class="fa fa-home"></i> Home</a>
                        <span>Sell Item</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6 class="coupon__link">  <i class="fa fa-exchange"></i> Bye Bye Tadbeesa </h6>
                </div>
            </div>
            <form action="{{ url_for('Additemtosell') }}" method="post" class="checkout__form">
                <div class="row">
                    <div>
                        <h5>Product Details</h5>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <h6>Title<span>*</span></h6>
                                    <input type="text" name="title">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Type <span>*</span></p>
                                    <label>
                                        <input type="radio" name="type" value="1">Women
                                    </label>
                                    <label>
                                        <input type="radio" name="type" value="2"> Men
                                    </label>
                                    <label>
                                        <input type="radio" name="type" value="3"> Kids
                                    </label>
                                    <label>
                                        <input type="radio" name="type" value="4"> Other
                                    </label>
                                </div>
                            </div>
                         
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <h6>Description <span>*</span></h6>
                                    <input type="text" name="description"
                                    placeholder="Include condition, features and reason for selling">
                                </div>
                                <div class="checkout__form__input">
                                    <p>Location <span>*</span></p>
                                    <select name="location" id="locationSelect">
                                        <option value="">Select Governorate</option>
                                        <option value="Alexandria">Alexandria</option>
                                        <option value="Aswan">Aswan</option>
                                        <option value="Asyut">Asyut</option>
                                        <option value="Beheira">Beheira</option>
                                        <option value="Beni Suef">Beni Suef</option>
                                        <option value="Cairo">Cairo</option>
                                        <option value="Dakahlia">Dakahlia</option>
                                        <option value="Damietta">Damietta</option>
                                        <option value="Faiyum">Faiyum</option>
                                        <option value="Gharbia">Gharbia</option>
                                        <option value="Giza">Giza</option>
                                        <option value="Ismailia">Ismailia</option>
                                        <option value="Kafr El Sheikh">Kafr El Sheikh</option>
                                        <option value="Luxor">Luxor</option>
                                        <option value="Matruh">Matruh</option>
                                        <option value="Minya">Minya</option>
                                        <option value="Monufia">Monufia</option>
                                        <option value="New Valley">New Valley</option>
                                        <option value="North Sinai">North Sinai</option>
                                        <option value="Port Said">Port Said</option>
                                        <option value="Qalyubia">Qalyubia</option>
                                        <option value="Qena">Qena</option>
                                        <option value="Red Sea">Red Sea</option>
                                        <option value="Sharqia">Sharqia</option>
                                        <option value="Sohag">Sohag</option>
                                        <option value="South Sinai">South Sinai</option>
                                        <option value="Suez">Suez</option>
                                    </select>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="checkout__form__input" id="priceOptions">
                                            <p>Price is <span>*</span></p>
                                            <label>
                                                <input type="radio" name="priceType" value="2">Negotiable
                                            </label>
                                            <label>
                                                <input type="radio" name="priceType" value="1"> Exchange
                                            </label>
                                            <label>
                                                <input type="radio" name="priceType" value="0"> Free
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="checkout__form__input">
                                            <p>Price<span>*</span></p>
                                            <input type="number" id="priceInput" name="priceInput">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="checkout__form__input">
                                        <h6>item status <span>*</span></h6>
                                        <br>
                                        <label>
                                            <input type="radio" name="itemStatus" value="New">new
                                        </label>
                                        <label>
                                            <input type="radio" name="itemStatus" value="Used"> used
                                        </label>
                                    </div>
                                </div>
                                <br>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    
                                   
                                        <h5>Rate your product</h5>
                                        <div class="product-rating">
                                            {% for i in range(5) %}
                                                <i class="fa fa-star" data-rating="{{ i + 1 }}"></i>
                                            {% endfor %}
                                            <input type="hidden" id="rating" name="rating" value="0">
                                        </div>
                                   
                                    
                                        
                                        <br><br><br>
                                        
                                    </div>
                                </div>
                                <br><br>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Phone <span>*</span></p>
                                    <input type="text" name="phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span>*</span></p>
                                    <input type="text" name="email">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p> Add up to 10 images <span>*</span></p>
                                    <br>
                                    <div class="upload-icons">
                                        
                                        {% for i in range(10) %}
                                        
                                            <label for="imageUpload{{ i }}" class="upload-label">
                                                <i id="uploadIcon{{ i }}" class="fa fa-camera upload-icon" style="font-size: 36px;"></i>
                                                <input type="file" id="imageUpload{{ i }}" name="imageUpload{{ i }}" accept="image/*" style="display: none;">
                                            </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                       
                        </div>

                            </div>
                       
                       
                               <button type="submit" class="site-btn">Add item</button>
                           
                        </div>
                    </div>
                </form>
            </div>
        </section>
      
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const stars = document.querySelectorAll('.product-rating .fa-star');
        
                // Initialize stars to zero (empty stars)
                stars.forEach(function(star) {
                    star.classList.remove('fa-star');
                    star.classList.add('fa-star-o');
                });
        
                stars.forEach(function(star) {
                    star.addEventListener('click', function() {
                        const rating = parseInt(star.dataset.rating);
                        const hiddenInput = document.getElementById('rating');
                        hiddenInput.value = rating;
        
                        // Update the class of each star based on the rating
                        stars.forEach(function(s, index) {
                            if (index < rating) {
                                s.classList.add('fa-star');
                                s.classList.remove('fa-star-o');
                            } else {
                                s.classList.add('fa-star-o');
                                s.classList.remove('fa-star');
                            }
                        });
                    });
                });
        
                const priceInput = document.getElementById('priceInput');
                const priceOptions = document.getElementById('priceOptions');
        
                function handlePriceOptionChange(event) {
                    if (event.target.value === '0') {  // Check if the value is '0'
                        priceInput.style.display = 'none';
                    } else {
                        priceInput.style.display = 'block';
                    }
                }
        
                priceOptions.addEventListener('change', handlePriceOptionChange);
        
                // Define the function to handle file uploads
                function handleFileUpload(event, index) {
                    const uploadIcon = document.getElementById('uploadIcon' + index);
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function() {
                            uploadIcon.style.backgroundImage = 'url(' + reader.result + ')';
                            uploadIcon.style.backgroundSize = 'cover';
                            uploadIcon.classList.remove('fa-camera');
                            uploadIcon.style.fontSize = 'initial';
                        }
                        reader.readAsDataURL(file);
                    }
                }
        
                // Loop through each input element with id starting with 'imageUpload'
                for (let i = 0; i < 10; i++) {
                    const input = document.getElementById('imageUpload' + i);
        
                    // Check if the input element exists
                    if (input) {
                        input.addEventListener('change', function(event) {
                            handleFileUpload(event, i);
                        });
                    }
                }
            });
        </script>
        
        
 {% endblock %}